@model AccountManager.Models.Account
@{
    ViewData["Title"] = "Uredi račun";
}

<div class="home-hero">
    <div class="home-card card-left">
        <h1>Uredi račun</h1>
        <p>Ovdje možeš promijeniti podatke svog korisničkog računa.</p>

        <form asp-action="Edit" method="post" style="margin-top: 28px;">
            @Html.AntiForgeryToken()

            <input type="hidden" asp-for="Id" />

            <div class="form-group">
                <label asp-for="FirstName">Ime</label>
                <input asp-for="FirstName" placeholder="npr. Ivan" />
                <span asp-validation-for="FirstName"></span>
            </div>

            <div class="form-group">
                <label asp-for="LastName">Prezime</label>
                <input asp-for="LastName" placeholder="npr. Horvat" />
                <span asp-validation-for="LastName"></span>
            </div>

            <div class="form-group">
                <label asp-for="DateOfBirth">Datum rođenja</label>
                <input asp-for="DateOfBirth" type="text" class="js-date date-with-icon" placeholder="Odaberi datum..." />
                <span asp-validation-for="DateOfBirth"></span>
            </div>

            <div class="form-group">
                <label asp-for="Address">Adresa</label>
                <input asp-for="Address" placeholder="npr. Ulica 1, Zagreb" />
                <span asp-validation-for="Address"></span>
            </div>

            <div asp-validation-summary="All"></div>

            <button class="btn-primary" type="submit">Spremi promjene</button>
        </form>

        <div style="margin-top: 18px;">
            <a class="glass-cta" asp-action="My">Nazad na moj račun</a>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script>
        flatpickr(".js-date", {
            locale: flatpickr.l10ns.hr, // hrvatski
            dateFormat: "Y-m-d",       
            altInput: true,
            altFormat: "d.m.Y",         
            allowInput: false,          
            clickOpens: true,
            maxDate: "today"            // rođendan ne može u budućnosti
        });
    </script>
}
