@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Aplikacija za upravljanje korisničkim računima</h1>
    <p>
        Sustav omogućuje registraciju korisnika, upravljanje korisničkim računima
        te administratorski pregled podataka.
    </p>
</div>
